TwitchUserName  = YOUR_BOTACCOUNT_USERNAME
TwitchToken = YOUR_BOTACCOUNT_TOKEN
TwitchClientId = CLIENT_ID_BOT_APPLICATION
DatabaseUrl = Server=localhost;Database=database_name;Uid=postgres;Pwd=postgres;