TwitchUserName  = YOUR_BOTACCOUNT_USERNAME
TwitchToken = YOUR_BOTACCOUNT_TOKEN
TwitchClientId = CLIENT_ID_BOT_APPLICATION
DatabaseHost = 127.0.0.1
DatabaseName = database
DatabaseUser = user
DatabasePassword = password
DatabasePort = 5432